In [2]:
%reload_ext nb_black

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import config
from scipy.stats.stats import ttest_ind

%matplotlib inline
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings("ignore")

In [5]:
postgres_user = config.user
postgres_pw = config.password
postgres_host = config.host
postgres_port = config.port
postgres_db = "studentsperformance"

engine = create_engine(
    "postgresql://{}:{}@{}:{}/{}".format(
        postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db
    )
)

ed_df = pd.read_sql_query("select * from studentsperformance", con=engine)

# No need for an open connection,
# because you're only doing a single query
engine.dispose()

## 1. Are there any differences between the genders, ethnicities and parental level of education with respect to their performances in exams?

In [12]:
ed_df.groupby("gender").mean()

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [15]:
ttest_ind(
    ed_df[ed_df["gender"] == "female"][
        ["math score", "reading score", "writing score"]
    ],
    ed_df[ed_df["gender"] == "male"][["math score", "reading score", "writing score"]],
)

Ttest_indResult(statistic=array([-5.38324587,  7.95930801,  9.97955791]), pvalue=array([9.12018555e-08, 4.68053874e-15, 2.01987771e-22]))

In [9]:
ed_df["race/ethnicity"].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [16]:
ed_df.groupby("race/ethnicity").mean()

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

In [22]:
race_eth = ed_df['race/ethnicity'].unique()
print(race_eth)

['group B' 'group C' 'group A' 'group D' 'group E']

In [24]:
ed_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [29]:
# T-test between each combination of race/ethincity group to look for significant differences
# flag the values that are pvalue < 0.05

for var in ed_df.columns[[5, 6, 7]]:
    print('------------------------------------------')
    print('Comparisons for variable: {}'.format(var))
    print('------------------------------------------')
    for i in range(0, len(race_eth)):
        for j in range(i+1, len(race_eth)):
            print('t-test between groups {0} and {1}:'.format(race_eth[i], race_eth[j]))
            print( ttest_ind(ed_df[ed_df['race/ethnicity'] == race_eth[i]][var],
                             ed_df[ed_df['race/ethnicity'] == race_eth[j]][var]))
            _, pvalue = ttest_ind(ed_df[ed_df['race/ethnicity'] == race_eth[i]][var],
                             ed_df[ed_df['race/ethnicity'] == race_eth[j]][var])
            if round(pvalue, 2) < 0.05:
                print('---> Groups {0} and {1} are significantly different'.format(race_eth[i], race_eth[j]))

------------------------------------------
Comparisons for variable: math score
------------------------------------------
t-test between groups group B and group C:
Ttest_indResult(statistic=-0.7315669893534263, pvalue=0.4647708939167453)
t-test between groups group B and group A:
Ttest_indResult(statistic=0.9355076279747488, pvalue=0.3503415961659957)
t-test between groups group B and group D:
Ttest_indResult(statistic=-2.82845539712675, pvalue=0.004886197137104194)
---> Groups group B and group D are significantly different
t-test between groups group B and group E:
Ttest_indResult(statistic=-6.007397050552227, pvalue=5.007946047497971e-09)
---> Groups group B and group E are significantly different
t-test between groups group C and group A:
Ttest_indResult(statistic=1.5997220303217299, pvalue=0.11043810745588042)
t-test between groups group C and group D:
Ttest_indResult(statistic=-2.41858624746011, pvalue=0.015888349556016285)
---> Groups group C and group D are significantly different
t-test between groups group C and group E:
Ttest_indResult(statistic=-6.127642520822135, pvalue=1.927238849552764e-09)
---> Groups group C and group E are significantly different
t-test between groups group A and group D:
Ttest_indResult(statistic=-3.3466982429712298, pvalue=0.0009068636053543751)
---> Groups group A and group D are significantly different
t-test between groups group A and group E:
Ttest_indResult(statistic=-5.936141025544798, pvalue=1.083559122656415e-08)
---> Groups group A and group E are significantly different
t-test between groups group D and group E:
Ttest_indResult(statistic=-4.282287214674715, pvalue=2.3187640326715042e-05)
---> Groups group D and group E are significantly different
------------------------------------------
Comparisons for variable: reading score
------------------------------------------
t-test between groups group B and group C:
Ttest_indResult(statistic=-1.3223156212901772, pvalue=0.1866592809035069)
t-test between groups group B and group A:
Ttest_indResult(statistic=1.3633682262027682, pvalue=0.1738735513443721)
t-test between groups group B and group D:
Ttest_indResult(statistic=-1.9451563636864795, pvalue=0.0523786206559701)
t-test between groups group B and group E:
Ttest_indResult(statistic=-3.386066945409153, pvalue=0.0007951618495240944)
---> Groups group B and group E are significantly different
t-test between groups group C and group A:
Ttest_indResult(statistic=2.575432218066352, pvalue=0.010364398025471079)
---> Groups group C and group A are significantly different
t-test between groups group C and group D:
Ttest_indResult(statistic=-0.7970109316408917, pvalue=0.425771382113019)
t-test between groups group C and group E:
Ttest_indResult(statistic=-2.7133018645371685, pvalue=0.0069132842804986595)
---> Groups group C and group E are significantly different
t-test between groups group A and group D:
Ttest_indResult(statistic=-3.0468548573461187, pvalue=0.002488654464332207)
---> Groups group A and group D are significantly different
t-test between groups group A and group E:
Ttest_indResult(statistic=-4.071106227981414, pvalue=6.463395931833847e-05)
---> Groups group A and group E are significantly different
t-test between groups group D and group E:
Ttest_indResult(statistic=-2.0106479406031794, pvalue=0.045033306431345586)
------------------------------------------
Comparisons for variable: writing score
------------------------------------------
t-test between groups group B and group C:
Ttest_indResult(statistic=-1.5964963433740407, pvalue=0.1110010959814519)
t-test between groups group B and group A:
Ttest_indResult(statistic=1.4624420577998105, pvalue=0.14475374198993884)
t-test between groups group B and group D:
Ttest_indResult(statistic=-3.19929333232526, pvalue=0.0014749978881319053)
---> Groups group B and group D are significantly different
t-test between groups group B and group E:
Ttest_indResult(statistic=-3.3831978345244518, pvalue=0.0008032300486353951)
---> Groups group B and group E are significantly different
t-test between groups group C and group A:
Ttest_indResult(statistic=2.848872404992454, pvalue=0.004610690740740428)
---> Groups group C and group A are significantly different
t-test between groups group C and group D:
Ttest_indResult(statistic=-1.8896631516726248, pvalue=0.05930232918708209)
t-test between groups group C and group E:
Ttest_indResult(statistic=-2.3502811868359177, pvalue=0.019183539018898285)
---> Groups group C and group E are significantly different
t-test between groups group A and group D:
Ttest_indResult(statistic=-4.1556316361449195, pvalue=4.084805733969806e-05)
---> Groups group A and group D are significantly different
t-test between groups group A and group E:
Ttest_indResult(statistic=-4.2234736631970105, pvalue=3.483278064499439e-05)
---> Groups group A and group E are significantly different
t-test between groups group D and group E:
Ttest_indResult(statistic=-0.8239736571520918, pvalue=0.4104455517392258)

* For the Math Scores:
    * group A is significantly different with:
        * D and E
    * group B is significantly different with:
        * D and E
    * group C is significantly different with:
        * D and E
    * group D is significantly different with:
        * E
* For the Reading Scores:
    * group A is significantly different with:
        * C, D and E
    * group B is significantly different with:
        * D and E
    * group C is significantly different with:
        * E
* For the Writing Scores:
    * group A is significantly different with:
        * C, D and E 
    * group B is significantly different with:
        * D and E
    * group C is significantly different with:
        * E

In [30]:
ed_df.groupby("parental level of education").mean()[
    ["math score", "reading score", "writing score"]
]

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

In [32]:
parent_ed = ed_df["parental level of education"].unique()
print(parent_ed)

["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

In [34]:
# T-test between each combination of race/ethincity group to look for significant differences
# flag the values that are pvalue < 0.05

for var in ed_df.columns[[5, 6, 7]]:
    print("------------------------------------------")
    print("Comparisons for variable: {}".format(var))
    print("------------------------------------------")
    for i in range(0, len(parent_ed)):
        for j in range(i + 1, len(parent_ed)):
            print(
                "t-test between groups {0} and {1}:".format(parent_ed[i], parent_ed[j])
            )
            print(
                ttest_ind(
                    ed_df[ed_df["parental level of education"] == parent_ed[i]][var],
                    ed_df[ed_df["parental level of education"] == parent_ed[j]][var],
                )
            )
            _, pvalue = ttest_ind(
                ed_df[ed_df["parental level of education"] == parent_ed[i]][var],
                ed_df[ed_df["parental level of education"] == parent_ed[j]][var],
            )
            if round(pvalue, 2) < 0.05:
                print(
                    "---> Groups {0} and {1} are significantly different".format(
                        parent_ed[i], parent_ed[j]
                    )
                )

------------------------------------------
Comparisons for variable: math score
------------------------------------------
t-test between groups bachelor's degree and some college:
Ttest_indResult(statistic=1.3702352829617477, pvalue=0.17151224218471559)
t-test between groups bachelor's degree and master's degree:
Ttest_indResult(statistic=-0.14868196568849312, pvalue=0.8819757824867702)
t-test between groups bachelor's degree and associate's degree:
Ttest_indResult(statistic=0.8786641889793243, pvalue=0.38020757818036177)
t-test between groups bachelor's degree and high school:
Ttest_indResult(statistic=4.236143622484822, pvalue=2.9965345853843376e-05)
---> Groups bachelor's degree and high school are significantly different
t-test between groups bachelor's degree and some high school:
Ttest_indResult(statistic=3.196718602676573, pvalue=0.0015409192922812146)
---> Groups bachelor's degree and some high school are significantly different
t-test between groups some college and master's degree:
Ttest_indResult(statistic=-1.2356334215824571, pvalue=0.21761956810347416)
t-test between groups some college and associate's degree:
Ttest_indResult(statistic=-0.5426842696247527, pvalue=0.5876182809234072)
t-test between groups some college and high school:
Ttest_indResult(statistic=3.5461079495681163, pvalue=0.00043498004192453146)
---> Groups some college and high school are significantly different
t-test between groups some college and some high school:
Ttest_indResult(statistic=2.4117046231407633, pvalue=0.016324361572645503)
---> Groups some college and some high school are significantly different
t-test between groups master's degree and associate's degree:
Ttest_indResult(statistic=0.8411229688563471, pvalue=0.4009993636124658)
t-test between groups master's degree and high school:
Ttest_indResult(statistic=3.4893759321890823, pvalue=0.000570929230228812)
---> Groups master's degree and high school are significantly different
t-test between groups master's degree and some high school:
Ttest_indResult(statistic=2.6442572081925526, pvalue=0.008736228790471057)
---> Groups master's degree and some high school are significantly different
t-test between groups associate's degree and high school:
Ttest_indResult(statistic=3.9481325318265013, pvalue=9.247314274963044e-05)
---> Groups associate's degree and high school are significantly different
t-test between groups associate's degree and some high school:
Ttest_indResult(statistic=2.820053979930256, pvalue=0.005041081492906143)
---> Groups associate's degree and some high school are significantly different
t-test between groups high school and some high school:
Ttest_indResult(statistic=-0.8640629490772553, pvalue=0.388108610360687)
------------------------------------------
Comparisons for variable: reading score
------------------------------------------
t-test between groups bachelor's degree and some college:
Ttest_indResult(statistic=2.2048821209085077, pvalue=0.028127555314401052)
---> Groups bachelor's degree and some college are significantly different
t-test between groups bachelor's degree and master's degree:
Ttest_indResult(statistic=-1.0540858949475984, pvalue=0.293296751317879)
t-test between groups bachelor's degree and associate's degree:
Ttest_indResult(statistic=1.2977969850452833, pvalue=0.19524206483091092)
t-test between groups bachelor's degree and high school:
Ttest_indResult(statistic=5.017577900835298, pvalue=8.804250310784477e-07)
---> Groups bachelor's degree and high school are significantly different
t-test between groups bachelor's degree and some high school:
Ttest_indResult(statistic=3.4039270673798745, pvalue=0.0007561971719730451)
---> Groups bachelor's degree and some high school are significantly different
t-test between groups some college and master's degree:
Ttest_indResult(statistic=-2.888843374950649, pvalue=0.004165440800640354)
---> Groups some college and master's degree are significantly different
t-test between groups some college and associate's degree:
Ttest_indResult(statistic=-1.11231882169149, pvalue=0.26660028539980146)
t-test between groups some college and high school:
Ttest_indResult(statistic=3.4578427683620334, pvalue=0.0006001048481252139)
---> Groups some college and high school are significantly different
t-test between groups some college and some high school:
Ttest_indResult(statistic=1.714161972758909, pvalue=0.08726786856243877)
t-test between groups master's degree and associate's degree:
Ttest_indResult(statistic=2.1912015759838686, pvalue=0.02926414570972208)
---> Groups master's degree and associate's degree are significantly different
t-test between groups master's degree and high school:
Ttest_indResult(statistic=5.113158728723477, pvalue=6.257558119816884e-07)
---> Groups master's degree and high school are significantly different
t-test between groups master's degree and some high school:
Ttest_indResult(statistic=3.7261574122231513, pvalue=0.00024334552617191513)
---> Groups master's degree and some high school are significantly different
t-test between groups associate's degree and high school:
Ttest_indResult(statistic=4.538021419898997, pvalue=7.442167797135797e-06)
---> Groups associate's degree and high school are significantly different
t-test between groups associate's degree and some high school:
Ttest_indResult(statistic=2.7183602204037927, pvalue=0.006846770119677965)
---> Groups associate's degree and some high school are significantly different
t-test between groups high school and some high school:
Ttest_indResult(statistic=-1.461284757591555, pvalue=0.1447791955248275)
------------------------------------------
Comparisons for variable: writing score
------------------------------------------
t-test between groups bachelor's degree and some college:
Ttest_indResult(statistic=2.6803314684632196, pvalue=0.00771101202367254)
---> Groups bachelor's degree and some college are significantly different
t-test between groups bachelor's degree and master's degree:
Ttest_indResult(statistic=-0.9998741306804844, pvalue=0.3187519641464658)
t-test between groups bachelor's degree and associate's degree:
Ttest_indResult(statistic=2.1159296639133762, pvalue=0.03508162451719667)
---> Groups bachelor's degree and associate's degree are significantly different
t-test between groups bachelor's degree and high school:
Ttest_indResult(statistic=6.547380937127048, pvalue=2.4076253789515874e-10)
---> Groups bachelor's degree and high school are significantly different
t-test between groups bachelor's degree and some high school:
Ttest_indResult(statistic=4.667733097498242, pvalue=4.628198526834338e-06)
---> Groups bachelor's degree and some high school are significantly different
t-test between groups some college and master's degree:
Ttest_indResult(statistic=-3.1687690632394907, pvalue=0.0016985933135959495)
---> Groups some college and master's degree are significantly different
t-test between groups some college and associate's degree:
Ttest_indResult(statistic=-0.7615968643953912, pvalue=0.44670316603036575)
t-test between groups some college and high school:
Ttest_indResult(statistic=4.488520877492127, pvalue=9.275017802620877e-06)
---> Groups some college and high school are significantly different
t-test between groups some college and some high school:
Ttest_indResult(statistic=2.5757211403792417, pvalue=0.010358529086081357)
---> Groups some college and some high school are significantly different
t-test between groups master's degree and associate's degree:
Ttest_indResult(statistic=2.78124154906855, pvalue=0.00578403270525775)
---> Groups master's degree and associate's degree are significantly different
t-test between groups master's degree and high school:
Ttest_indResult(statistic=6.360904883721531, pvalue=9.326930296880332e-10)
---> Groups master's degree and high school are significantly different
t-test between groups master's degree and some high school:
Ttest_indResult(statistic=4.707583817143559, pvalue=4.275465153074631e-06)
---> Groups master's degree and some high school are significantly different
t-test between groups associate's degree and high school:
Ttest_indResult(statistic=5.348725635626432, pvalue=1.4650545536741998e-07)

---> Groups associate's degree and high school are significantly different
t-test between groups associate's degree and some high school:
Ttest_indResult(statistic=3.3317223453475715, pvalue=0.0009435990258795855)
---> Groups associate's degree and some high school are significantly different
t-test between groups high school and some high school:
Ttest_indResult(statistic=-1.5838885273076473, pvalue=0.11406653932963291)

T-test between these groups shows that there are signicant differences between each group and any education level at least two steps in any direction. For example, there is a sig dif btwn scores of student's with parents of a 'Master's' level education and scores of students with parents of an 'Associate's' level education and anything less than that, but there is no sig dif btwn scores of students with parents of a 'Master's' level education and the scores of students with parents with a 'Bachelor's' level education.

## 2. Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?

In [35]:
ed_df.groupby("lunch").mean()[["math score", "reading score", "writing score"]]

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

In [38]:
_, pvalue = ttest_ind(
    ed_df[ed_df["lunch"] == "standard"][ed_df.columns[[5, 6, 7]]],
    ed_df[ed_df["lunch"] == "free/reduced"][ed_df.columns[[5, 6, 7]]],
)

In [39]:
print(pvalue<0.05)

[ True  True  True]

There is a significant difference between these two groups in all three subjects. The standard lunch students are more successful.

## 3. Does the test preparation course seem to have an effect on the exam performances?

In [40]:
ed_df.groupby("test preparation course").mean()[
    ["math score", "reading score", "writing score"]
]

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

In [41]:
_, pvalue = ttest_ind(
    ed_df[ed_df["test preparation course"] == "completed"][ed_df.columns[[5, 6, 7]]],
    ed_df[ed_df["test preparation course"] == "none"][ed_df.columns[[5, 6, 7]]],
)

In [42]:
print(pvalue < 0.05)

[ True  True  True]

The students that attended a prep course are more successful in all subjects.

## 4. Which two exam scores are correlated the most with each other?

In [43]:
ed_df[ed_df.columns[[5, 6, 7]]].corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

Reading and Writing scores are the most correlated.